{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="mb-3">Definir contraseña</h3>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input name="password" type="password" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Confirmar contraseña</label>
        <input name="password2" type="password" class="form-control" required>
      </div>
      <button class="btn btn-primary w-100" type="submit">Guardar</button>
    </form>
  </div>
</div>
{% endblock %}
