{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="mb-3">Definir contraseña</h3>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        
        <div class="input-group">
          <input id="password1" name="password" type="password" class="form-control" required>
          <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('password1')">
            👁
          </button>
        </div>

      </div>
      <div class="mb-3">
        <label class="form-label">Confirmar contraseña</label>

        <div class="input-group">
          <input id="password1" name="password" type="password" class="form-control" required>
          <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('password1')">
            👁
          </button>
        </div>
        
      </div>
      <button class="btn btn-primary w-100" type="submit">Guardar</button>
    </form>
  </div>
</div>
{% endblock %}


